<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Luis Monsalve">
    <meta name="description" content="Pagina para el registro de usuario">
    <title>Diario UVM Sport</title>
    <link rel="shortcut icon" href="media/images/logoUVM.png">
    <script src="scripts.js"></script>
    <link rel="stylesheet" href="/styles/plantilla.css">
    <link rel="stylesheet" href="/styles/registro.css">
</head>
<body>
    <header>
        <div class="cabecera">

            <a href="/" class="nombrePagina"><img src="media/images/Logopagina.png" alt="Logo de la pagina" class="logoPagina"></a>

            <a href="#menu" class="navMenu">
                <img src="media/icons/menu.png" class="navIcon">
            </a>

            <a href="#" class="navMenu navMenu--second">
                <img src="media/icons/logout.png" class="navIcon">
            </a>

            <ul class="desplegable" id="menu">
                <li class="lista">
                    <a href="/" class="link">
                        <span class="span">Inicio</span>
                    </a>
                </li>

                <li class="lista">
                    <a href="#" class="link">
                        <span class="span">Categorías</span>
                        <img src="media/icons/arrow.png" class="arrow"> 

                        <input type="checkbox" class="check">
                    </a>

                    <div class="contenido">

                        <ul class="subMenu">
                            <li class="subLi">
                                <a href="#" class="ancla">Fútbol</a>
                            </li>
                            <li class="subLi">
                                <a href="#" class="ancla">Béisbol</a>
                            </li>
                            <li class="subLi">
                                <a href="#" class="ancla">Básquetbol</a>
                            </li>
                            <li class="subLi">
                                <a href="#" class="ancla">Automovilismo</a>
                            </li>
                            <li class="subLi">
                                <a href="#" class="ancla">Boxeo</a>
                            </li>
                            <li class="subLi">
                                <a href="#" class="ancla">Tenis</a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="lista">
                    <a href="#" class="link">
                        <span class="span">Contacto</span>
                        <img src="media/icons/arrow.png" class="arrow"> 

                        <input type="checkbox" class="check">
                    </a>

                    <div class="contenido">

                        <ul class="subMenu">
                            <li class="subLi">
                                <a href="https://www.instagram.com/"  class="ancla">Instagram: diariouvmsport</a>
                            </li>
                            <li class="subLi">
                                <a href="https://www.facebook.com/" class="ancla">Facebook: Diario UVM Sport</a>
                            </li>
                            <li class="subLi">
                                <a href="https://www.twitter.com/" class="ancla">Twitter: @diariouvmsport</a>
                            </li>
                            <li class="subLi">
                                <a href="https://www.youtube.com/" class="ancla">YouTube: Diario UVM Sport</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>

    </div>
    </header>
        <nav>
            <ul class="categorias">
                <div class="animation">
                    <p>ÚLTIMOS RESULTADOS:</p>
                    <li>Barcelona 3-0 Real Madrid</li>
                    <li>Atlético de Madrid 1-0 Sevilla</li>
                    <li>Manchester City 0-2 Liverpool</li>
                    <li>Manchester United 2-2 Arsenal</li>
                    <li>Napoli 3-2 Juventus</li>
                    <li>Milán 1-1 Inter de Milán</li>
                    <li>Bayern de Munich 4-0 Borussia Dortmund</li>
                </div>
              </ul>
        </nav>
    <main>
        <section class="parallax"> 
            <h1>Regístrate para recibir noticias al correo electrónico</h1>
        </section>
        <section class="formSection">
                        <!-- Formulario para registrarse -->
            <form action="" method="post" class="formulario" id="formulario">
                <fieldset>
                    <h2 class="titulo"><strong>INFORMACIÓN PERSONAL</strong></h2>

                    <p><label for="nombre">Nombre</label></p>
                    <input class="entrada" type="text" placeholder="Ingresa tu nombre" id="nombre" name="nombre" required>

                    <p><label for="apellido">Apellido</label></p>
                    <input class="entrada" type="text" placeholder="Ingresa tu apellido" id="apellido" name="apellido" required>

                    <p><label for="email">Email</label></p>
                    <input class="entrada" type="email" placeholder="ejemplo@gmail.com" id="email" name="email" required>

                    <input type="checkbox" name="mayorEdad" value="1" required>Confirmo que tengo más de 18 años
                </fieldset>
                <fieldset>
                <h2 class="titulo"><strong>PREFERENCIAS</strong></h2>
                    <p>Selecciona tu deporte favorito</p>
                        <select id="deporteFav" name="deporteFav">
                            <option value="sinDeporte">No tengo deporte favorito</option>
                            <option value="Fútbol">Fútbol</option>
                            <option value="Básquetbol">Básquetbol</option>
                            <option value="Béisbol">Béisbol</option>
                            <option value="Automovilismo">Automovilismo</option>
                            <option value="Tenis">Tenis</option>
                            <option value="Atletismo">Atletismo</option>
                            <option value="Boxeo">Boxeo</option>
                            <option value="Otro">Otro</option>
                        </select>

                        <p>Selecciona tu tipo de contenido favorito</p>
                        <div class="opciones">
                            <input type="radio" name="opcion" value="contenidoCualquiera" checked> Cualquiera
                            <input type="radio" name="opcion" value="contenidoImagenes"> Imágenes y texto
                            <input type="radio" name="opcion" value="contenidoVideos"> Videos
                        </div>
                        <!-- Contenedor para organizar mejor visualmente el texto con el checkbox -->
                        <div class="checkCorreo">
                            <input type="checkbox" name="noticiasCorreo" value="1"><div>Quiero recibir ofertas de servicios y productos al correo electrónico</div>
                        </div>
                </fieldset>
                <div class="botones">
                    <button type="submit">ENVIAR</button>
                    <button type="reset">RESTABLECER</button>
                </div>
            </form>
        </section>
    </main>
    <footer>
        <p class="piePag"><b>© Luis Monsalve C.I. 30.380.310 Todos los derechos reservados. Junio 2023</b></p>
            <adress>
                <div class="contacto">
                    <p>Contáctanos</p>
                        <ul>
                            <li><a href="https://www.instagram.com/"><img src="media/images/instagram.png" alt="Instagram" width="100%">diariouvmsport</a></li>
                            <li><a href="https://www.facebook.com/"><img src="media/images/facebook.png" alt="Facebook" width="100%">Diario UVM Sport</a></li>
                            <li><a href="https://www.twitter.com/"><img src="media/images/twitter.png" alt="Twitter" width="100%">@diariouvmsport</a></li>
                            <li><a href="https://www.youtube.com/"><img src="media/images/youtube.png" alt="YouTube" width="100%" >Diario UVM Sport</a></li>
                        </ul>
                    </div>
            </adress>
    </footer>
</body>
</html>