<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Luis Monsalve">
    <meta name="description" content="Pagina para la actividad 2.2 de Front End">
    <title>Diario UVM Sport</title>
    <link rel="shortcut icon" href="resources/images/logoUVM.png">
    <script src="scripts.js"></script>
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
    <header>
        <div class="cabecera">
            <h2 class="nombrePagina">
                <a href="index.html"><span class="uvm">UVM</span> <span class="sport">SPORT</span><img src="resources/images/logoUVM.png" alt="Logo de la pagina" width="62px"></a>
            </h2>
            <div class="links">
                <a href="/formulario">Regístrate</a>
            </div>
        </div>
        <nav>
            <ul class="categorias">
                <li><a href="#">FÚTBOL</a></li>
                <li><a href="#">BÁSQUETBOL</a></li>
                <li><a href="#">BÉISBOL</a></li>
                <li><a href="#">AUTOMOVILISMO</a></li>
                <li><a href="#">TENIS</a></li>
                <li><a href="#">ATLETISMO</a></li>
                <li><a href="#">BOXEO</a></li>
              </ul>
        </nav>
    </header>
        <main>
            <h1>Todas las noticias del mundo de los deportes</h1>
            <!-- Slider para que las noticias se deslicen -->
            <section class="panel">
                <div class="slider">
                    <ul>
                        <li>
                            <article>
                                <a href="#"><img src="resources/images/noticias/spain.jpg" alt="España" width="100%"></a>
                                <div class="sliderTexto">
                                    <a href="#">España vence a Italia por 2-1 y pasa a la final de la Nations League</a> 
                                </div>
                            </article>
                        </li>
                        <li>
                            <article>
                                <a href="#"><img src="resources/images/noticias/denvernuggets.jpg" alt="Denver Nuggets" width="100%"></a>
                                <div class="sliderTexto">
                                    <a href="#">Los Denver Nuggets ganan su primer título de la NBA</a> 
                                </div>
                            </article>
                        </li>
                        <li>
                            <article>
                                <a href="#"><img src="resources/images/noticias/bellingham.jpg" alt="Bellingham" width="100%"></a>
                                <div class="sliderTexto">
                                    <a href="#">Bellingham nuevo jugador del Real Madrid</a> 
                                </div>
                            </article>
                        </li>
                        <li>
                            <article>
                                <a href="#"><img src="resources/images/noticias/djokovic.jpeg" alt="Djokovic" width="100%"></a>
                                <div class="sliderTexto">
                                    <a href="#">Novak Djokovic gana el tercer Roland Garros de su carrera</a> 
                                </div>
                            </article>
                        </li>
                    </ul>
                </div>
                <!-- Noticia al lado del slider -->
                <div class="lateral">
                    <article>
                        <a href="#"><img src="resources/images/noticias/croacia.jpg" alt="Croacia" width="100%"></a>
                        <div class="textoLateral">
                            <a href="#">Croacia derrota en tiempo extra a Países Bajos y espera rival en la final de la Nations League</a>
                        </div>
                        <div class="pieArticulo">
                            <p class="categoriaArticulo">FÚTBOL</p>
                            <p class="fechaArticulo"><small><time datetime="2023-06-16" pubdate>16/06/2023</time></small></p>
                        </div>
                    </article>
                </div>
            </section>
            <!-- Articulos de noticias -->
            <section class="general">
                <ul>
                    <li>
                        <article>
                            <a href="/messi"><img src="resources/images/noticias/messi.jpeg" alt="Messi" width="100%"></a>
                            <div class="textoGeneral">
                                <a href="#">Messi muy cerca de volver al Barcelona</a> 
                            </div>
                            <div class="pieArticulo">
                                <p class="categoriaArticulo">FÚTBOL</p>
                                <p class="fechaArticulo"><small><time datetime="2023-05-06" pubdate>06/05/2023</time></small></p>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article>
                            <a href="/verstappen"><img src="resources/images/noticias/verstappen.jpg" alt="Denver Nuggets" width="100%"></a>
                            <div class="textoGeneral">
                                <a href="#">Max Verstappen, más líder que nunca después del GP de España</a> 
                            </div>
                            <div class="pieArticulo">
                                <p class="categoriaArticulo">AUTOMOVILISMO</p>
                                <p class="fechaArticulo"><small><time datetime="2023-05-06" pubdate>06/05/2023</time></small></p>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article>
                            <a href="#"><img src="resources/images/noticias/venezuela.jpg" alt="Venezuela" width="100%"></a>
                            <div class="textoGeneral">
                                <a href="#">Venezuela vence 1-0 a Honduras en un partido cerrado</a> 
                            </div>
                            <div class="pieArticulo">
                                <p class="categoriaArticulo">FÚTBOL</p>
                                <p class="fechaArticulo"><small><time datetime="2023-06-16" pubdate>16/06/2023</time></small></p>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article>
                            <a href="#"><img src="resources/images/noticias/argentina.jpg" alt="Argentina" width="100%"></a>
                            <div class="textoGeneral">
                                <a href="#">Argentina se queda con el amistoso frente a Australia</a> 
                            </div>
                            <div class="pieArticulo">
                                <p class="categoriaArticulo">FÚTBOL</p>
                                <p class="fechaArticulo"><small><time datetime="2023-06-16" pubdate>16/06/2023</time></small></p>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article>
                            <a href="#"><img src="resources/images/noticias/acuna.jpg" alt="Acuña" width="100%"></a>
                            <div class="textoGeneral">
                                <a href="#">Ronald Acuña conectó jonrón de 461 pies por el jardín central</a> 
                            </div>
                            <div class="pieArticulo">
                                <p class="categoriaArticulo">BÉISBOL</p>
                                <p class="fechaArticulo"><small><time datetime="2023-06-16" pubdate>16/06/2023</time></small></p>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article>
                            <a href="#"><img src="resources/images/noticias/boxeo.jpg" alt="Tyson vs Holyfield" width="100%"></a>
                            <div class="textoGeneral">
                                <a href="#">Mike Tyson vs Evander Holyfield Capítulo III</a> 
                            </div>
                            <div class="pieArticulo">
                                <p class="categoriaArticulo">BOXEO</p>
                                <p class="fechaArticulo"><small><time datetime="2023-06-16" pubdate>16/06/2023</time></small></p>
                            </div>
                        </article>
                    </li>
                </ul>
            </section>
        </main>
    <footer>
        <p class="piePag">© Luis Monsalve C.I. 30.380.310 Todos los derechos reservados. Junio 2023</p>
            <adress>
                <div class="contacto">
                <p>Contáctanos</p>
                    <ul>
                        <li><a href="https://www.instagram.com/"><img src="resources/images/instagram.png" alt="Instagram" width="100%">diariouvmsport</a></li>
                        <li><a href="https://www.facebook.com/"><img src="resources/images/facebook.png" alt="Facebook" width="100%">Diario UVM Sport</a></li>
                        <li><a href="https://www.twitter.com/"><img src="resources/images/twitter.png" alt="Twitter" width="100%">@diariouvmsport</a></li>
                        <li><a href="https://www.youtube.com/"><img src="resources/images/youtube.png" alt="YouTube" width="100%" >Diario UVM Sport</a></li>
                    </ul>
                </div>
            </adress>
    </footer>
</body>
</html>