<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Luis Monsalve">
    <meta name="description" content="Pagina para la actividad 2.2 de Front End">
    <title>Diario UVM Sport</title>
    <link rel="shortcut icon" href="media/images/logoUVM.png">
    <script src="scripts.js"></script>
    <link rel="stylesheet" href="/styles/plantilla.css">
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
    <header>
        <div class="cabecera">

                <a href="index.html" class="nombrePagina"><img src="media/images/Logopagina.png" alt="Logo de la pagina" class="logoPagina"></a>

                <a href="#menu" class="navMenu">
                    <img src="media/icons/menu.png" class="navIcon">
                </a>

                <a href="#" class="navMenu navMenu--second">
                    <img src="media/icons/logout.png" class="navIcon">
                </a>

                <ul class="desplegable" id="menu">
                    <li class="lista">
                        <a href="index.html" class="link">
                            <span class="span">Inicio</span>
                        </a>
                    </li>

                    <li class="lista">
                        <a href="#" class="link">
                            <span class="span">Categorías</span>
                            <img src="media/icons/arrow.png" class="arrow"> 

                            <input type="checkbox" class="check">
                        </a>

                        <div class="contenido">

                            <ul class="subMenu">
                                <li class="subLi">
                                    <a href="#" class="ancla">Fútbol</a>
                                </li>
                                <li class="subLi">
                                    <a href="#" class="ancla">Béisbol</a>
                                </li>
                                <li class="subLi">
                                    <a href="#" class="ancla">Básquetbol</a>
                                </li>
                                <li class="subLi">
                                    <a href="#" class="ancla">Automovilismo</a>
                                </li>
                                <li class="subLi">
                                    <a href="#" class="ancla">Boxeo</a>
                                </li>
                                <li class="subLi">
                                    <a href="#" class="ancla">Tenis</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="lista">
                        <a href="#" class="link">
                            <span class="span">Contacto</span>
                            <img src="media/icons/arrow.png" class="arrow"> 

                            <input type="checkbox" class="check">
                        </a>

                        <div class="contenido">

                            <ul class="subMenu">
                                <li class="subLi">
                                    <a href="https://www.instagram.com/"  class="ancla">Instagram: diariouvmsport</a>
                                </li>
                                <li class="subLi">
                                    <a href="https://www.facebook.com/" class="ancla">Facebook: Diario UVM Sport</a>
                                </li>
                                <li class="subLi">
                                    <a href="https://www.twitter.com/" class="ancla">Twitter: @diariouvmsport</a>
                                </li>
                                <li class="subLi">
                                    <a href="https://www.youtube.com/" class="ancla">YouTube: Diario UVM Sport</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="lista">
                        <a href="registro.html" class="link">
                            <span class="span">Registro</span>
                        </a>
                    </li>
                </ul>

        </div>
    </header>
        <nav>
            <ul class="categorias">
                <div class="animation">
                    <p>ÚLTIMOS RESULTADOS:</p>
                    <li>Barcelona 3-0 Real Madrid</li>
                    <li>Atlético de Madrid 1-0 Sevilla</li>
                    <li>Manchester City 0-2 Liverpool</li>
                    <li>Manchester United 2-2 Arsenal</li>
                    <li>Napoli 3-2 Juventus</li>
                    <li>Milán 1-1 Inter de Milán</li>
                    <li>Bayern de Munich 4-0 Borussia Dortmund</li>
                </div>
              </ul>
        </nav>
        <main>
            <h1>Todas las noticias del mundo de los deportes</h1>
            <!-- Slider para que las noticias se deslicen -->
            <section class="panel">
                <div class="slider">
                    <ul>
                        <li>
                            <article>
                                <a href="#"><img src="media/images/noticias/spain.jpg" alt="España" width="100%"></a>
                                <div class="sliderTexto">
                                    <a href="#">España vence a Italia por 2-1 y pasa a la final de la Nations League</a> 
                                </div>
                            </article>
                        </li>
                        <li>
                            <article>
                                <a href="#"><img src="media/images/noticias/denvernuggets.jpg" alt="Denver Nuggets" width="100%"></a>
                                <div class="sliderTexto">
                                    <a href="#">Los Denver Nuggets ganan su primer título de la NBA</a> 
                                </div>
                            </article>
                        </li>
                        <li>
                            <article>
                                <a href="#"><img src="media/images/noticias/bellingham.jpg" alt="Bellingham" width="100%"></a>
                                <div class="sliderTexto">
                                    <a href="#">Bellingham nuevo jugador del Real Madrid</a> 
                                </div>
                            </article>
                        </li>
                        <li>
                            <article>
                                <a href="#"><img src="media/images/noticias/djokovic.jpeg" alt="Djokovic" width="100%"></a>
                                <div class="sliderTexto">
                                    <a href="#">Novak Djokovic gana el tercer Roland Garros de su carrera</a> 
                                </div>
                            </article>
                        </li>
                    </ul>
                </div>
                <!-- Noticia al lado del slider -->
                <div class="lateral">
                    <article>
                        <a href="#"><img src="media/images/noticias/croacia.jpg" alt="Croacia" width="100%"></a>
                        <div class="textoLateral">
                            <a href="#">Croacia derrota en tiempo extra a Países Bajos y espera rival en la final de la Nations League</a>
                        </div>
                        <div class="pieArticulo">
                            <p class="categoriaArticulo">FÚTBOL</p>
                            <p class="fechaArticulo"><small><time datetime="2023-06-16" pubdate>16/06/2023</time></small></p>
                        </div>
                    </article>
                </div>
            </section>
            <!-- Articulos de noticias -->
            <section class="general">
                <ul>
                    <li>
                        <article>
                            <a href="messi.html"><img src="media/images/noticias/messi.jpeg" alt="Messi" width="100%"></a>
                            <div class="textoGeneral">
                                <a href="#">Messi muy cerca de volver al Barcelona</a> 
                            </div>
                            <div class="pieArticulo">
                                <p class="categoriaArticulo">FÚTBOL</p>
                                <p class="fechaArticulo"><small><time datetime="2023-05-06" pubdate>06/05/2023</time></small></p>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article>
                            <a href="verstappen.html"><img src="media/images/noticias/verstappen.jpg" alt="Denver Nuggets" width="100%"></a>
                            <div class="textoGeneral">
                                <a href="#">Max Verstappen, más líder que nunca después del GP de España</a> 
                            </div>
                            <div class="pieArticulo">
                                <p class="categoriaArticulo">AUTOMOVILISMO</p>
                                <p class="fechaArticulo"><small><time datetime="2023-05-06" pubdate>06/05/2023</time></small></p>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article>
                            <a href="#"><img src="media/images/noticias/venezuela.jpg" alt="Venezuela" width="100%"></a>
                            <div class="textoGeneral">
                                <a href="#">Venezuela vence 1-0 a Honduras en un partido cerrado</a> 
                            </div>
                            <div class="pieArticulo">
                                <p class="categoriaArticulo">FÚTBOL</p>
                                <p class="fechaArticulo"><small><time datetime="2023-06-16" pubdate>16/06/2023</time></small></p>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article>
                            <a href="#"><img src="media/images/noticias/argentina.jpg" alt="Argentina" width="100%"></a>
                            <div class="textoGeneral">
                                <a href="#">Argentina se queda con el amistoso frente a Australia</a> 
                            </div>
                            <div class="pieArticulo">
                                <p class="categoriaArticulo">FÚTBOL</p>
                                <p class="fechaArticulo"><small><time datetime="2023-06-16" pubdate>16/06/2023</time></small></p>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article>
                            <a href="#"><img src="media/images/noticias/acuna.jpg" alt="Acuña" width="100%"></a>
                            <div class="textoGeneral">
                                <a href="#">Ronald Acuña conectó jonrón de 461 pies por el jardín central</a> 
                            </div>
                            <div class="pieArticulo">
                                <p class="categoriaArticulo">BÉISBOL</p>
                                <p class="fechaArticulo"><small><time datetime="2023-06-16" pubdate>16/06/2023</time></small></p>
                            </div>
                        </article>
                    </li>
                    <li>
                        <article>
                            <a href="#"><img src="media/images/noticias/boxeo.jpg" alt="Tyson vs Holyfield" width="100%"></a>
                            <div class="textoGeneral">
                                <a href="#">Mike Tyson vs Evander Holyfield Capítulo III</a> 
                            </div>
                            <div class="pieArticulo">
                                <p class="categoriaArticulo">BOXEO</p>
                                <p class="fechaArticulo"><small><time datetime="2023-06-16" pubdate>16/06/2023</time></small></p>
                            </div>
                        </article>
                    </li>
                </ul>
            </section>
        </main>
    <footer>
        <p class="piePag">© Luis Monsalve C.I. 30.380.310 Todos los derechos reservados. Junio 2023</p>
            <adress>
                <div class="contacto">
                <p>Contáctanos</p>
                    <ul>
                        <li><a href="https://www.instagram.com/"><img src="media/images/instagram.png" alt="Instagram" width="100%">diariouvmsport</a></li>
                        <li><a href="https://www.facebook.com/"><img src="media/images/facebook.png" alt="Facebook" width="100%">Diario UVM Sport</a></li>
                        <li><a href="https://www.twitter.com/"><img src="media/images/twitter.png" alt="Twitter" width="100%">@diariouvmsport</a></li>
                        <li><a href="https://www.youtube.com/"><img src="media/images/youtube.png" alt="YouTube" width="100%" >Diario UVM Sport</a></li>
                    </ul>
                </div>
            </adress>
    </footer>
</body>
</html>