nav{
  display: none;
}

main {
  width: 100%;
}

  h1 {
    font-family: Helvetica;
    /* border-bottom: 2px solid #1C2833; */
    text-align: center;
    /* color:#1C2833; */
    font-size: 3.5rem;
    text-shadow: 5px 5px 15px rgb(0, 0, 0, 1);
    color: #F5F5F5;
    margin: 0;
    padding: 0;
  }

  .parallax {
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: center fixed url("../media/images/footballbackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .formSection {
    margin-top: 30px;
  }

  @media screen and (min-width:768px){

  .formulario {
    width: 500px;
    margin: auto;
    font-family: 'Trebuchet MS';
  }
}

  .formulario fieldset {
    border: none;
    border-radius: 10px;
    margin-bottom: 15px;
    color: #F5F5F5;
    background-color: #1C2833;
    padding: 30px;
  }

  .formulario p {
    margin: 0;
    margin-bottom: 10px;
  }

  .formulario h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 25px;
    color: #88C426;
  }

  .formulario .entrada {
    background-color: #F5F5F5;
    width: calc(100% - 26.4px);
    border: 3.5px solid #88C426;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
  }

  /* Atributo para modificar el input cuando está checkeado, con el accent-color para modificar el color */

  input[type="checkbox"]:checked {
    accent-color: #88C426;
  }

  input[type="radio"]:checked {
    accent-color: #88C426;
  }

  .formulario select {
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 10px;
    border: 3.5px solid #88C426;
    font-family: 'Calibri';
    font-weight: bold;
    color: #404444;
    cursor: pointer;
  }

  .formulario .opciones {
    margin-bottom: 20px;
  }

  .opciones input {
    cursor: pointer;
  }

  .formulario .botones {
    text-align: center;
  }

  .formulario .checkCorreo {
    display: inline-flex;
    align-items: flex-start;
  }

  .formulario button {
    width: calc(100% - 3.2px);
    margin-bottom: 15px;
    padding: 15px 0;
    border: none;
    border-radius: 10px;
    background-color: #88C426;
    color: #F5F5F5;
    font: bold 18px Calibri;
    cursor: pointer;
  }

  input[type="checkbox"] {
    cursor: pointer;
  }

@media screen and (max-width: 767px) {

  .formulario {
    width: 80%;
    margin: auto;
    font-family: 'Trebuchet MS';
  }
}