  .divisor {
    display: flex;
    justify-content: space-between;
  }
  
  article .tituloArticulo {
    margin-bottom: 10px;
  }
  
  article .tituloArticulo .categoriaSelec {
    font:bold 20px Georgia;
    margin-top:10px;
    margin-bottom: 0;
    color:#364D62;
  }
  
  article .tituloArticulo h1{
    font:bold 40px Segoe UI;
    margin-top: 0;
    margin-bottom: 10px;
    color:#1C2833;
   }
  
  article .tituloArticulo .autor {
    font-family: Arial;
    font-weight:600;
    color:#4D5656;
    margin-top: 0;
    margin-bottom: 5px;
  }
  
  article .tituloArticulo .fecha {
    color:#85929E;
    font-family: Arial;
    margin-top: 0;
    margin-bottom: 0;
  }

  article .imagen {
    margin: 0px 0px 10px 0px;
    width: fit-content;
    text-align: center;
    border-top: 2px dashed #1C2833;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  article .imagenCap {
    font-family: Calibri;
    font-weight: bold;
    color:#464748;
    text-align: left;
    background-color:#E4E0E0;
    margin: 0;
  }

section .noticia {
    width: calc(70% - 37px);
    border-right: 2px dashed #1C2833;
    font-family:'Trebuchet MS';
    padding-right: 15px;
    margin: 0 20px 0 0;
  }
  
section .noticia mark {
    background-color: #F5F5F5;
    text-decoration: underline;
}
  
  figcaption {
    padding: 3px 0 5px 5px;
  }
  
  .noticia blockquote {
    border: 4px solid #a9a9a9;
  }
  
  .noticia blockquote .cita {
    padding: 10px;
  }
  
  .noticia blockquote p {
    width: auto;
    margin:0px 0px 7px 0px;
  }
  
  .noticia .audio audio{
    width: 100%;
  }

  .video {
    padding: 0;
    margin: 0;
    width: fit-content;
    height: auto;
  }
  
  .video video {
    width: 100%;
    height: auto;
  }
  
  .videoCaption {
    background-color:#E4E0E0;
    font-family: Calibri;
    font-weight: bold;
    color:#464748;
    padding-left: 5px;
    padding-bottom: 5px;
  }
  
  .comentarios {
    width: 100%;
  }
  
  .comentarios .cajaComentarios {
    margin-top: 20px;
    padding: 10px 0 15px 0;
    border-top: 1px solid #1C2833;
    border-bottom: 1px dashed #1C2833;
  }
  
  .comentarios label {
    margin-bottom: 10px;
  }
  
  .comentarios textarea {
    width: 100%;
    margin-top: 10px;
    padding: 0;
    resize: none;
  }
  
  .comentarios .comentariosPersonas {
    text-align: center;
  }
  
  aside {
    padding-top: 15px;
    width: 30%;
    height: 100%;
  }
  
  .tabla {
    font-family: 'Segoe UI';
    border: 1px solid #ddd;
    background-color: #f8f7f7;
  }
  
  .tabla table {
    border-spacing: 0;
  }
  
  .tabla caption {
    font-weight: bold;
  }
  
  .tabla caption, .tabla thead tr th, .tabla tbody tr td {
    border-bottom:2px solid #ddd;
    padding: 3px;
  }
  
  .tabla thead tr th {
    background-color: #f1f1f1;
  }
  
  .tabla .destacadoTabla {
    background-color: #78AD22;
    color: #f8f7f7
  }
  
  .tabla .nombres a {
    text-decoration: none;
    font-weight: bold;
    color: #1C2833;
  }
  
  .tabla .puntos {
    background-color: #1C2833;
    color: #f8f7f7;
  }
  
  .tabla>table>thead>tr, .tabla>table>tbody>tr {
    display: table-row;
    text-align: center;
  }

  .tabla .pieTabla {
    text-align: center;
    padding: 0 5px;
    margin-top: 5px;
  }

    /* Atributos para fijar el tamaño de la segunda columna en 60% y el resto de las columnas en 20%*/

  .tabla table
  th:nth-child(2),td:nth-child(2) {
  width: 60%;
  }

  .tabla table
  th:nth-child(1),td:nth-child(1),
  th:nth-child(3),td:nth-child(3) {
  width: 20%;
  }

  .ultimasNoticias h3 {
    color:#78AD22;
    font-family: Rockwell;
    font-size: 27px;
    margin-top: 10px;
    margin-bottom: 0;
    border-top: 1px solid #78AD22;
    border-bottom: 1px solid #78AD22;
    padding: 5px 0 5px 0
  }
  
  .ultimasNoticias img {
    margin:20px 0 5px 0;
  }
  
  .ultimasNoticias ul {
    display: flexbox;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  
  .ultimasNoticias li {
    list-style: none;
  }
  
  .ultimasNoticias a {
    color: #000000;
    font-weight: bold;
    font-family: 'Trebuchet MS';
    text-decoration: none;
  }

  .ultimasNoticias article {
    margin-bottom: 5px;
  }
  
  .pieArticulo {
    display: flex;
  }
  
  .pieArticulo p {
    margin: 0;
    font-size: 12px;
  }
  
  .pieArticulo .categoriaArticulo {
    word-wrap: break-word;
    color:#364D62;
    font-weight: bold;
    font-family: Georgia;
    margin-right: 5px;
  }
  
  .pieArticulo .fechaArticulo {
    color: #85929E;
    font-family: Arial;
  }

  /* MOBILE DISPLAY ============================================================================================================================ */

  @media screen and (max-width:767px){
  
    article .tituloArticulo h1{
      font:bold 30px Segoe UI;
      margin-top: 0;
      margin-bottom: 10px;
      color:#1C2833;
     }

    .divisor {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
  }
  
  section .noticia {
    display: flex;
    width: 100%;
    font-family: 'Trebuchet MS';
    padding: 0;
    margin: 0;
    border: none;
    flex-wrap: wrap;
  }
  
    aside {
      width: 80%;
    }
  
    aside h3 {
      text-align: center;
    }
  
    .tabla {
      display: flex;
      width: fit-content;
      margin: auto;
    }

    .tabla .pieTabla {
      padding: 5px;
    }

    .pieArticulo {
      padding-left: 5%;
    }
  
  }